# requirements.txt

boto3==1.34.142
botocore==1.34.142
ctransformers==0.2.27
fastapi==0.111.0
fastapi-cli==0.0.4
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-cloud-vision==3.7.3
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
gpt4all==2.2.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.24
langchain-google-genai==1.0.7
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.93
mysql-connector-python==9.0.0
nltk==3.8.1
numpy==1.26.4
openai==1.35.13
py_eureka_client==0.11.10
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pypdf==4.2.0
pypdfium2==4.30.0
pytesseract==0.3.10
SQLAlchemy==2.0.31
sqlparse==0.5.1
tokenizers==0.19.1
torch==2.3.1
torchvision==0.18.1
transformers==4.42.
unstructured==0.14.10
unstructured-client==0.24.0
unstructured-inference==0.7.36
unstructured.pytesseract==0.3.12
pillow==10.4.0
pillow_heif==0.17.0
chroma-hnswlib==0.7.3
chromadb==0.5.3
